@model DinnerManager.Models.CreateMealViewModel
<link href="~/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.date').datepicker({
            dateFormat: 'dd-mm-yy'
        });
    });
</script>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Meal</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Date, "{0:dd-MM-yyyy}", new { @class = "date" })
            @Html.ValidationMessageFor(model => model.Date)
        </div>
        <div>
            @Html.DropDownListFor(model => model.SelectedDishId, new SelectList(Model.Dishes, "Id", "Name", Model.SelectedDishId))
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
